html {
    background-color: #432D2D;
    color: white;
    font-size: 16px;
    font-family: 'Amatic SC', cursive;
}

html, body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Oxygen Mono', monospace;
}

p, li {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

.nav {
    width: 100%;
    display: flex;
    background-color: #A9612B;
    align-items: center;
}

.nav h1 {
    margin-left: 20px;
}

.nav a {
    transition: all 0.2s ease-in-out;
    color: white;
    text-decoration: none;
}

.nav a:hover {
    color:#432D2D;
    text-decoration: underline;
    font-size: 1.25em;
    transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 450px){
    .nav img {
        display: none;
    }
}

@media only screen and (max-width: 760px){
    .nav h1{
        display: none;
    }
}

#home-link {
    font-size: 1.25em;
    color: #432D2D;
    text-decoration: underline;
}

.nav ul {
    float: right;
    margin-left: auto;
    margin-right: 30px;
}

.nav li {
    margin-left: 10px;
    display: inline;
}

.nav img {
    margin-left: 15px;
    width: 100px;
}

.main-section {
    background-image: url('./resources/coffee-bar.jpg');
    background-position: center;
    background-size: cover;
    height: 90vh;
}

.main-section-layer {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-section h1 {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: #432D2D;
}

.main-section img {
    width: 100%;
    height: auto;
}

.images-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    padding: 0 15px;
}

.images-section img {
    object-fit: cover;
    width: 100%;
    height: 50vh;
}

@media only screen and (max-width: 450px){
    .images-section {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

@media only screen and (max-width: 760px){
    .images-section {
        grid-template-columns: repeat(2, 1fr);
        
    }
    .remove {
        display: none;
    }
}

.about-section {
    margin: 20px 0;
    height: 60vh;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-items: center;
}

.about-section h1 {
    text-align: center;
}

.about-section img {
    width: 100px;
    height: 100px;
}

.about-content {
    align-items: center;
    display: flex;
    width: 60%;
}

.about-content a {
    transition: all 0.2s ease-in-out;
    color: rgb(200, 200, 200);
    text-decoration: underline;
}

.about-content a:hover {
    color:#A9612B;
    text-decoration: none;
    font-size: 1.1em;
    transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 900px){
    .about-content p {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 650px) {
    .about-content p {
        font-size: 1.1rem;
    }
    .about-content img {
        display: none;
    }
}

@media only screen and (max-width: 450px){
    .about-content {
        width: 80%;
    }
}

.quote-section {
    background-color: #A9612B;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 35vh 0;
    width: 100%;
}

.quote {
    padding: 20px 50px;
}

.come-join {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    text-align: center;
    width: 100%;
}
.come-join h1 {
    margin-bottom: 50px;
}
.come-join img {
    width: 60%;
    margin-bottom: 20px;
    height: auto;
}
.come-join h1 {
    padding: 0 15px;
}

@media only screen and (max-width: 450px){
    .come-join img {
        width: 80%;
    }
}

.footer-section {
    display: flex;
    align-items: center;
    background-color: #A9612B;
    justify-content: center;
    height: 100px;
    width: 100%;
}
.footer-section li {
    display: inline;
    margin: 0 30px;
}
.footer-section a {
    transition: all 0.2s ease-in-out;
    color: white;
    text-decoration: none;
}
.footer-section a:hover {
    color:#432D2D;
    text-decoration: underline;
    font-size: 1.25em;
    transition: all 0.2s ease-in-out;
}